<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Spawar_Warnning_bannerPageSuite">
  <test name="Test">
   <parameter name= "username" value="zinnatnishu@gmail.com"></parameter>
    <parameter name= "password" value="nishu123456"></parameter>
    <classes>
      <class name="spawar.Spawar_LoginPage"/>
    
        
    </classes>
  </test> <!-- Test -->
</suite> <!-- Spawar_Warnning_bannerPageSuite -->
